# SERVER CONFIG
PORT=5051
NODE_ENV=development

# DATABASE
# Case 1: MongoDB Atlas (Copy from dashboard)
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/civiccare_ai?retryWrites=true&w=majority

# Case 2: Local MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/civiccare_ai

# AUTHENTICATION
JWT_SECRET=supersecretkey

# EXTERNAL APIS
AI_API_KEY=AIzaSyCd0xi3_bapxod-BsfereK9ftiRw14DuXk
GEMINI_API_KEY=AIzaSyCd0xi3_bapxod-BsfereK9ftiRw14DuXk
OPENAI_API_KEY=your_openai_key
